.email-modal {
  max-width: 800px;

  .modal-title {
    color: $ligthBlue;
  }
  label {
    width: 100%;
  }
  input {
    width: 100%;
    border: none;
    color: $ligthBlue;
    border-bottom: 1px solid $ligthBlue;
    padding-bottom: 5px;

    &:focus {
      outline: none;
    }

    &.error {
      border-color: red;
    }

    &:-webkit-autofill {
      background-color: white !important;
      color: $ligthBlue !important;
    }
  }

  .error {
    color: red;
  }
}